In [1]:
import numpy as np

In [2]:
m=np.random.randn(4,5)

In [3]:
m

array([[-0.8968741 , -1.36513229, -1.14384382, -0.16175906,  0.91882546],
       [ 0.77842841,  0.8679675 ,  0.33151491, -1.03945089,  2.62010266],
       [ 1.26917071,  1.3562604 , -0.4576038 ,  0.80569805, -0.4995541 ],
       [-0.23682125,  1.25028423,  0.76512147, -0.23011395,  0.45820267]])

In [4]:
import pandas as pd

In [5]:
df=pd.DataFrame(m,['A','B','C','D'],['x1','x2','x3','x4','x5'])

In [6]:
df

         x1        x2        x3        x4        x5
A -0.896874 -1.365132 -1.143844 -0.161759  0.918825
B  0.778428  0.867968  0.331515 -1.039451  2.620103
C  1.269171  1.356260 -0.457604  0.805698 -0.499554
D -0.236821  1.250284  0.765121 -0.230114  0.458203

In [7]:
df['x1+x2']=df['x1']+df['x2']

In [8]:
df

         x1        x2        x3        x4        x5     x1+x2
A -0.896874 -1.365132 -1.143844 -0.161759  0.918825 -2.262006
B  0.778428  0.867968  0.331515 -1.039451  2.620103  1.646396
C  1.269171  1.356260 -0.457604  0.805698 -0.499554  2.625431
D -0.236821  1.250284  0.765121 -0.230114  0.458203  1.013463

In [12]:
df.drop('x1+x2',axis=1)

         x1        x2        x3        x4        x5
A -0.896874 -1.365132 -1.143844 -0.161759  0.918825
B  0.778428  0.867968  0.331515 -1.039451  2.620103
C  1.269171  1.356260 -0.457604  0.805698 -0.499554
D -0.236821  1.250284  0.765121 -0.230114  0.458203

In [11]:
df

         x1        x2        x3        x4        x5     x1+x2
A -0.896874 -1.365132 -1.143844 -0.161759  0.918825 -2.262006
B  0.778428  0.867968  0.331515 -1.039451  2.620103  1.646396
C  1.269171  1.356260 -0.457604  0.805698 -0.499554  2.625431
D -0.236821  1.250284  0.765121 -0.230114  0.458203  1.013463

In [14]:
df.drop('x1+x2',axis=1,inplace=True)

In [15]:
df

         x1        x2        x3        x4        x5
A -0.896874 -1.365132 -1.143844 -0.161759  0.918825
B  0.778428  0.867968  0.331515 -1.039451  2.620103
C  1.269171  1.356260 -0.457604  0.805698 -0.499554
D -0.236821  1.250284  0.765121 -0.230114  0.458203

In [28]:
df[['x2','x4']].iloc[:4]
df.iloc[:,0:5]

         x1        x2        x3        x4        x5
A -0.896874 -1.365132 -1.143844 -0.161759  0.918825
B  0.778428  0.867968  0.331515 -1.039451  2.620103
C  1.269171  1.356260 -0.457604  0.805698 -0.499554
D -0.236821  1.250284  0.765121 -0.230114  0.458203

In [18]:
list2=['x1','x2','x5']

In [21]:
list2

['x1', 'x2', 'x5']

In [22]:
df[list2]

         x1        x2        x5
A -0.896874 -1.365132  0.918825
B  0.778428  0.867968  2.620103
C  1.269171  1.356260 -0.499554
D -0.236821  1.250284  0.458203